/* src/css/sites/umt-move.css */
@import "../tailwind.css";

@theme {
  --color-primary: #063f70;
  --color-primary_inverse: #45a3f5;
  --color-text: #1e1e1e;
  --color-text_inverse: #ffffff;
  --color-muted: #66707a;
  --color-muted_inverse: #66707a;
  --color-muted_secondary: #4a4f46;
  --color-muted_secondary_inverse: #d2e0c8;
  --color-borders: #f2f2f2;
  --color-borders_inverse: #f2f2f2;
  --color-footer: #333333;
  --color-background: #ffffff;
  --color-background_inverse: #923702;
  --color-background_muted: rgba(230, 230, 230, 0.4);
  --color-background_muted_inverse: rgba(230, 230, 230, 0.4);
  --color-background_muted_secondary: #f35c04;
  --color-background_muted_secondary_inverse: #f35c04;
  --color-success: #1d7208;
  --color-info: #055160;
  --color-warning: #876c12;
  --color-error: #c31818;
  --color-rating: #fbc118;
}

.hero-block__subcontent {
  @apply bg-[url('/assets/images/umt-move-sign.svg')] lg:bg-none;
}

@utility card-cut-corner {
  @apply [--notch:80px] [clip-path:polygon(0_0,100%_0,100%_calc(100%-var(--notch)),calc(100%-var(--notch))_100%,0_100%)];
}

.teaser-default,
.section-inverse .teaser-inverse,
.teaser-inverse,
.section-transparent .teaser-default,
.teaser-muted,
.section-transparent .teaser-muted,
.teaser-muted-secondary,
.section-transparent .teaser-muted-secondary,
.section-inverse .teaser-muted,
.news_row img:not(.person-author img),
.block-image-corner,
.teaser img:not(.person-author img) {
  @apply card-cut-corner;
}

.background__image {
  @apply bg-[url('/assets/images/umt-move-background.svg')] bg-no-repeat bg-size-[auto_90vw];
}
