@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@source "../../site/plugins/nxttool-theme-tailwind/templates/**/*.php";
@source "../../site/plugins/nxttool-theme-tailwind/snippets/**/*.php";
@source "../../site/plugins/nxttool-theme-tailwind/controllers/**/*.php";
@source "../../site/templates/**/*.php";
@source "../../site/snippets/**/*.php";
@source "../../site/controllers/**/*.php";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #063f70;
  --color-primary_inverse: #45a3f5;
  --color-text: #000000;
  --color-text_inverse: #ffffff;
  --color-muted: #66707a;
  --color-muted_inverse: #dbdbdb;
  --color-muted_secondary: #4a4f46;
  --color-muted_secondary_inverse: #d2e0c8;
  --color-borders: #9e978a;
  --color-borders_inverse: #4f4c46;
  --color-footer: #333333;
  --color-background: #f9f9f9;
  --color-background_inverse: #b8481c;
  --color-background_muted: #dbdbdb;
  --color-background_muted_inverse: #dbdbdb;
  --color-background_muted_secondary: #db5865;
  --color-background_muted_secondary_inverse: #db5865;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-error: #dc3545;
  --color-rating: #fbc118;
  --text-3xl: 1.75rem;
  --text-3xl--line-height: calc(2.25 / 1.75);
}
@layer base {
  html {
    font-size: 16px;
  }
  :root {
    --text-base: 16px;
  }
  @media (min-width: 1280px) {
    html {
      font-size: 20px;
    }
    :root {
      --text-base: 20px;
    }
  }
}

@font-face {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/anybody/v12/anybody-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Anybody Italic";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/assets/fonts/anybody/v12/anybody-italic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@utility font-normal {
  font-family: "Anybody", Arial sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@utility font-bold {
  font-family: "Anybody", Arial sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@utility font-italic {
  font-family: "Anybody Italic", Arial sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

@utility font-italic-bold {
  font-family: "Anybody Italic", Arial sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

@utility container {
  @apply mx-auto container-px-small md:container-px-medium xl:container-px max-w-7xl;
}
@utility container-py {
  @apply py-5;
}
@utility container-pt {
  @apply pt-5;
}
@utility container-pb {
  @apply pb-5;
}

@utility container-py-large {
  @apply py-20;
}
@utility container-pt-large {
  @apply pt-20;
}
@utility container-pb-large {
  @apply pb-20;
}

@utility container-px {
  @apply px-25;
}
@utility container-px-medium {
  @apply px-10;
}
@utility container-px-small {
  @apply px-5;
}

@utility fullwidth-container {
  @apply container-px-small;
}

@utility layout_column_12 {
  @apply md:col-span-12;
}
@utility layout_column_8 {
  @apply md:col-span-6 lg:col-span-8;
}
@utility layout_column_6 {
  @apply md:col-span-6;
}
@utility layout_column_4 {
  @apply md:col-span-6 lg:col-span-4;
}
@utility layout_column_3 {
  @apply md:col-span-6 lg:col-span-3;
}
@utility grid_default {
  @apply grid lg:grid-cols-12 lg:gap-10;
}

@utility text-shadow-sm {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  @variant dark {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }
}
@utility text-shadow-md {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  @variant dark {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }
}
@utility text-shadow-lg {
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
  @variant dark {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  }
}
@utility text-shadow-none {
  text-shadow: none;
}

@utility btn-default {
  @apply rounded-3xl border-2 border-solid px-5 py-2.5 text-sm hover:opacity-65 focus:opacity-65;
}

@utility btn-outline {
  @apply btn-default text-background_inverse bg-transparent border-background_inverse;
}

@utility btn-outline-inverse {
  @apply btn-default text-text_inverse bg-transparent border-text_inverse;
}

@utility btn {
  @apply btn-default text-text_inverse bg-background_inverse border-background_muted_secondary;
}

@utility btn-inverse {
  @apply btn-default text-text bg-text_inverse border-background_muted_secondary;
}

@utility btn-pillow {
  @apply w-8 h-8  text-text border border-solid bg-transparent border-text rounded-full flex items-center justify-center hover:opacity-65 focus:opacity-65;
}

@utility border-top {
  @apply border-t border-solid border-borders;
}

@utility border-bottom {
  @apply border-b border-solid border-borders;
}

@utility teaser-polygon {
  @apply [--notch:80px] [clip-path:polygon(0_0,100%_0,100%_calc(100%-var(--notch)),calc(100%-var(--notch))_100%,0_100%)];
}

html {
  @apply leading-relaxed font-normal not-italic text-text bg-background;
}

em,
i {
  @apply font-italic;
}

b,
strong {
  @apply font-bold;
}

em strong,
strong em {
  @apply font-italic-bold;
}

h1 {
  @apply text-4xl mb-4 leading-tight font-bold xl:text-6xl tracking-tight scroll-mt-6;
}
h2 {
  @apply text-3xl xl:text-4xl mb-4 mt-8 leading-tight font-bold scroll-mt-6;
}
h3 {
  @apply text-2xl xl:text-3xl mb-3 mt-6 leading-tight font-bold scroll-mt-6;
}
h4 {
  @apply text-xl leading-tight font-bold scroll-mt-6;
}

.layout-block h2:not(.teaser h2),
.layout-block h3:not(.teaser h3),
.layout-block h4 {
  @apply mt-0 mb-0;
}

.content > *:first-child {
  @apply mt-0;
}

figcaption {
  @apply text-muted pt-3;
}

figcaption > footer {
  @apply text-muted italic inline;
}
p:not(.formblock p, .search-teaser p, footer p) {
  @apply mb-8;
}

img:not(.banner-image, .footer__image) {
  @apply max-w-full h-auto;
}

.section-inverse
  a:not(
    .btn-primary,
    .btn-secondary,
    .btn,
    .btn-outline,
    .btn-outline-inverse,
    .btn-pillow,
    .btn-edit,
    .link-arrow,
    .img-link,
    .icon-link
  ) {
  @apply hover:text-muted_inverse focus:text-muted_inverse;
}

a:not(
    .section-inverse a,
    .btn-primary,
    .btn-secondary,
    .btn,
    .btn-outline,
    .btn-outline-inverse,
    .btn-pillow,
    .btn-edit,
    .link-arrow,
    .img-link,
    .icon-link
  ),
.menu button {
  @apply hover:underline hover:underline-offset-4 hover:decoration-2 focus:underline focus:underline-offset-4 focus:decoration-2;
}

a:not(
    header a,
    .btn-primary,
    .btn-secondary,
    .btn,
    .link-arrow,
    .link-list-teaser a,
    .search-teaser a,
    .pagination a,
    .img-link,
    .page-navigation a.active,
    a.no-underline,
    .nav a
  ) {
  @apply underline underline-offset-4 decoration-2 hover:opacity-65 focus:opacity-65;
}
ul:not(header ul, footer ul, ul.page-navigation) {
  @apply list-none;
}
ul
  li:not(
    header li,
    footer li,
    .gallery li,
    .pagination li,
    .formblock li,
    .page-navigation li,
    .contact-details li
  ) {
  @apply pl-8 relative before:content-["—"] before:absolute before:left-0 before:top-0;
}
ol {
  @apply list-decimal pl-0 ml-4;
}
ol li {
  @apply pl-2;
}

@layer components {
  /* Buttons + Links */
  .btn-primary {
    @apply btn;
  }
  .btn-secondary {
    @apply btn-outline;
  }
  .btn-edit {
    @apply btn-pillow fixed bottom-3 right-3;
  }
  .link-arrow {
    @apply leading-6 px-2 underline underline-offset-4 decoration-1 font-semibold hover:text-muted  focus:text-muted;
  }
  /* Sections */
  .section-muted {
    @apply bg-background_muted text-text;
  }
  .section-muted-secondary {
    @apply bg-background_muted_secondary text-text;
  }
  .section-inverse {
    @apply bg-background_inverse text-text_inverse;
  }
  /* Buttons per Background */
  .section-inverse .btn-primary {
    @apply btn-inverse;
  }
  .section-inverse .btn-secondary {
    @apply btn-outline-inverse;
  }
  /* Teaser */
  .teaser-default,
  .section-inverse .teaser-inverse {
    @apply bg-background text-text teaser-polygon;
  }
  .teaser-inverse,
  .section-transparent .teaser-default {
    @apply bg-background_inverse text-text_inverse teaser-polygon;
  }
  .teaser-muted,
  .section-transparent .teaser-muted {
    @apply bg-background_muted text-text teaser-polygon;
  }
  .teaser-muted-secondary,
  .section-transparent .teaser-muted-secondary {
    @apply bg-background_muted_secondary text-text teaser-polygon;
  }
  .section-inverse .teaser-muted {
    @apply bg-background_muted_inverse text-text_inverse teaser-polygon;
  }
  /* Muted/Primary  Texts */
  .line-primary {
    @apply text-primary;
  }
  .line-muted-inverse,
  .teaser-inverse .line-muted,
  .section-inverse .line-muted {
    @apply text-muted_inverse;
  }
  .line-muted,
  .section-inverse .teaser-inverse .line-muted {
    @apply text-muted;
  }
  /* bg special */
  .bg-bullet-default {
    @apply bg-muted;
  }
  .section-inverse .bg-bullet-default {
    @apply bg-text_inverse;
  }
  /* Headlines per Background */
  .headline-inverse {
    @apply text-text;
  }
  /* Buttons / Texts per Teaser and Sections */
  .teaser-inverse .btn-secondary {
    @apply btn-outline-inverse;
  }
  .teaser-inverse .btn-primary,
  .teaser-inverse .btn {
    @apply btn-inverse;
  }
  /* Menu */
  .menu .active,
  .footer-menu .active {
    @apply underline underline-offset-4 decoration-2;
  }
  /* Pagination */
  /* .page-navigation li.active a {
    @apply font-semibold;
  } */
  .rating .star {
    @apply text-rating;
  }

  /* Job Data */
  .job-data__div {
    @apply py-4 border-b border-borders first:border-t;
  }
  .job-data__label {
    @apply text-base font-semibold my-1;
  }
  .job-data__value {
    @apply my-1;
  }

  /* News */
  .news_row {
    @apply grid sm:grid-cols-6 sm:gap-x-10 sm:gap-y-2 container-pt-large;
  }

  /* Hero */
  .hero {
    @apply container container-pt-large container-pb-large;
  }
  .hero__inner {
    @apply mx-auto max-w-2xl text-center;
  }
  .hero__headline {
    @apply max-w-2xl lg:col-span-2 xl:col-auto;
  }
  .hero__subline {
    @apply mt-6 mb-10 text-lg;
  }
  .hero__preline {
    @apply flex items-center gap-1 justify-center mb-4;
  }
  .hero__links {
    @apply space-x-4;
  }

  /* Hero default */
  .hero-default {
    @apply container container-py sm:py-40 lg:px-8;
  }
  .hero-default__inner {
    @apply mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:gap-x-8;
  }
  .hero-default__preline {
    @apply flex items-center gap-1;
  }
  .hero-default__headline {
    @apply max-w-2xl leading-tight lg:col-span-2;
  }
  .hero-default__subline {
    @apply mt-6 mb-10 text-2xl leading-normal text-muted;
  }
  .hero-default__links {
    @apply space-x-4;
  }
  .hero-default__left {
    @apply mt-6 lg:mt-0;
  }

  /* Hero banner */
  .hero-banner {
    @apply lg:relative;
  }
  .hero-banner__gradient {
    @apply hidden lg:block lg:absolute inset-0 bg-gradient-to-r from-white;
  }
  .hero-banner__content {
    @apply relative container h-full grid lg:grid-cols-12 lg:gap-10 items-center;
  }
  .hero-banner__inner {
    @apply lg:col-span-8 xl:col-span-6 py-10;
  }
  .hero-banner__headline {
    @apply lg:text-shadow-lg;
  }
  .hero-banner__subline {
    @apply mt-6 mb-10 text-lg lg:text-shadow-md;
  }
  .hero-banner__links {
    @apply space-x-4;
  }

  /* Hero block */
  .hero-block {
    @apply bg-background_inverse text-text_inverse;
  }
  .hero-block .btn-primary {
    @apply btn-inverse;
  }
  .hero-block .btn-secondary {
    @apply btn-outline-inverse;
  }
  .hero-block__gradient {
    @apply hidden lg:block lg:absolute inset-0 bg-[linear-gradient(180deg,rgba(0,0,0,0)_40%,rgba(0,0,0,0.6)_100%)];
  }
  .hero-block__content {
    @apply relative container h-full grid lg:grid-cols-12 items-end;
  }
  .hero-block__headline {
    @apply container-pt lg:container-py;
  }
  .hero-block__inner {
    @apply lg:col-span-9;
  }
  .hero-block__subcontent {
    @apply container-pb lg:container-py container grid lg:grid-cols-12 lg:gap-10 bg-no-repeat bg-[url('/assets/images/umt-sign.svg')] bg-size-[auto_100vw] md:bg-size-[auto_50vw] bg-[position:calc(100%+50vw)_calc(100%+20vh)] md:bg-[position:calc(100%+10vw)_calc(100%+20vh)] lg:bg-none;
  }
  .hero-block__subinner {
    @apply lg:col-span-8 py-10;
  }
  .hero-block__sign {
    @apply hidden lg:block lg:col-span-4 py-10;
  }
  .hero-block__subline {
    @apply mb-10 text-xl md:text-2xl lg:text-3xl;
  }
  .hero-block__links {
    @apply space-x-4;
  }

  /* Header */
  .header {
    @apply relative inset-x-0 top-0 z-50;
  }

  /* Logo */
  .logo__link {
    @apply -m-1.5 p-1.5;
  }
  .logo__image {
    @apply max-h-10 h-auto md:h-12 w-64 md:w-auto min-w-40;
  }

  /* Nav */
  .nav {
    @apply lg:container p-6 lg:pt-8 flex justify-between;
  }
  .nav__menu {
    @apply hidden lg:flex lg:flex-col lg:gap-y-10;
  }
  .nav__brand {
    @apply flex lg:flex-1;
  }
  .nav__list {
    @apply hidden lg:flex lg:gap-x-6 text-primary;
  }
  .nav__list-item {
    @apply block leading-6 py-4 lg:py-0;
  }
  .nav__list-expand {
    @apply relative flex;
  }
  .nav__list-expand-button {
    @apply flex items-center gap-x-1;
  }
  .nav__list-expand-button-icon {
    @apply h-5 w-5 flex-none text-gray-400;
  }

  .subnav__list {
    @apply absolute -left-8 top-full z-10 mt-3 w-56 rounded-xl bg-background p-2 shadow-lg ring-1 ring-gray-900/5;
  }
  .subnav__list-item-link {
    @apply block rounded-lg px-3 py-2 text-sm font-semibold leading-6;
  }
  .nav__buttons {
    @apply hidden lg:flex lg:justify-end gap-x-4;
  }
  .menu__language {
    @apply flex gap-x-2 pr-6 uppercase;
  }

  .mobile-nav__burger {
    @apply flex lg:hidden;
  }
  .mobile-nav__burger-button {
    @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5  text-text;
  }
  .mobile-nav {
    @apply lg:hidden;
  }
  .mobile-nav__background {
    @apply fixed inset-0 z-10;
  }
  .mobile-nav__container {
    @apply fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-background px-6 py-6 sm:max-w-md sm:ring-1 sm:ring-gray-900/10;
  }
  .mobile-nav__close-button {
    @apply -m-2.5 rounded-md p-2.5 text-text;
  }
  .mobile-nav__brand {
    @apply flex items-center justify-between;
  }
  .mobile-nav__content {
    @apply mt-6 flow-root;
  }
  .mobile-nav__element {
    @apply space-y-2 py-6;
  }
  /* .mobile-nav__list {
    @apply flex gap-x-8;
  } */
  .mobile-nav__list-item {
    @apply block font-semibold leading-6 pt-4;
  }
  .mobile-nav__list-expand-button {
    @apply flex items-center gap-x-1;
  }
  .mobile-nav__list-expand-button-icon {
    @apply flex-none text-muted size-4;
  }

  .mobile-subnav__list {
    @apply pl-3 pt-2;
  }
  .mobile-subnav__list-item-link {
    @apply block pt-2;
  }

  /** Blocks **/
  .teaser {
    @apply h-full rounded-md flex flex-col;
  }

  .block-image-corner {
    @apply teaser-polygon;
  }

  .fullwidth-container .layout_column_12 .block-image {
    @apply -mx-5;
  }
  .fullwidth-container .layout_column_12 .block-image img {
    @apply w-lvw max-w-fit;
  }

  /* Footer  */
  .footer__content {
    @apply xl:grid xl:grid-cols-4 xl:gap-10 space-y-8 xl:space-y-0;
  }
  .footer__social-media {
    @apply mt-8;
  }
  .footer__contact {
    @apply text-sm leading-6 space-y-8;
  }
  .footer__nav {
    @apply gap-10 xl:mt-0 xl:col-span-2;
  }
  .footer__nav-cols {
    @apply block md:flex gap-10;
  }
  .footer__nav-menu {
    @apply space-y-2 mb-8;
  }
  /* .footer__nav-item {
    @apply text-sm leading-4;
  } */
  .footer__contact {
    @apply text-xs;
  }
  .footer__credits {
    @apply mt-8 lg:mt-16 pt-8 sm:mt-20 lg:mt-24 mb-4;
  }
  .footer__credits-text {
    @apply text-xs leading-5;
  }
  .footer__credits-text a {
    @apply text-primary;
  }
  .footer__image {
    @apply h-6;
  }
}
