@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 98 112 147;
    --primary-inverse: 98 112 147;
    --secondary: 201 55 94;
    --secondary-inverse: 201 55 94;
    --text: 0 0 0;
    --text-inverse: 255 255 255;
    --muted: 87 87 87;
    --muted-inverse: 220 220 220;
    --borders: 220 214 203;
    --borders-inverse: 89 87 84;
    --footer: 51 51 51;
    --background: 249 249 249;
    --background-inverse: 21 21 21;
    --background-muted: 220 214 203;
    --background-muted-inverse: 89 87 84;
    --success: 40 167 69;
    --info: 23 162 184;
    --warning: 255 193 7;
    --error: 220 53 69;
    --rating: 251 193 18;
  }
  @font-face {
    font-family: "Inter";
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    font-display: swap;
    src: url(/assets/fonts/inter/v13/inter-all.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /** basic styles **/
  html {
    font-family: "Inter", Arial, sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
    @apply leading-relaxed font-normal not-italic text-base text-black dark:text-white bg-background dark:bg-background_inverse;
  }

  h1 {
    @apply text-4xl mb-4 leading-tight font-bold xl:text-5xl tracking-tight scroll-mt-6;
  }
  h2 {
    @apply text-3xl xl:text-4xl mb-4 mt-8 leading-tight font-bold scroll-mt-6;
  }
  h3 {
    @apply text-2xl xl:text-3xl mb-3 mt-6 leading-tight font-bold scroll-mt-6;
  }
  h4 {
    @apply text-xl leading-tight font-bold scroll-mt-6;
  }
  .block h2:not(.teaser h2),
  .block h3:not(.teaser h3),
  .block h4 {
    @apply mt-0;
  }

  .content > *:first-child {
    @apply mt-0;
  }

  figcaption {
    @apply text-muted pt-3;
  }

  figcaption > footer {
    @apply text-muted dark:text-muted_inverse italic inline;
  }
  p:not(.formblock p, .search-teaser p, footer p) {
    @apply mb-8 text-lg leading-relaxed;
  }

  img:not(.banner-image) {
    @apply max-w-full h-auto rounded-md;
  }
  a:not(.btn-primary, .btn-secondary, .link-arrow, .img-link, .icon-link),
  .menu button {
    @apply hover:text-primary dark:hover:text-primary_inverse focus:text-primary dark:focus:text-primary_inverse;
  }
  a:not(
      header a,
      footer a,
      .btn-primary,
      .btn-secondary,
      .link-arrow,
      .link-list-teaser a,
      .search-teaser a,
      .pagination a,
      .img-link,
      .page-navigation a.active,
      a.no-underline
    ) {
    @apply underline underline-offset-4 decoration-2;
  }
  ul:not(header ul, footer ul, ul.page-navigation) {
    @apply list-none;
  }
  ul
    li:not(
      header li,
      footer li,
      .gallery li,
      .pagination li,
      .formblock li,
      .page-navigation li,
      .contact-details li
    ) {
    @apply pl-8 relative before:content-["—"] before:absolute before:left-0 before:top-0;
  }
  ol {
    @apply list-decimal pl-0 ml-4;
  }
  ol li {
    @apply pl-2;
  }
}

/** component styles **/
@layer components {
  .btn-primary {
    @apply rounded-md border-2 border-solid border-primary bg-primary px-3.5 py-2.5 text-lg font-semibold text-text_inverse shadow-sm hover:bg-primary_inverse focus:bg-primary_inverse dark:bg-primary_inverse dark:border-primary_inverse dark:focus:bg-primary dark:hover:bg-primary dark:focus:border-primary dark:hover:border-primary;
  }
  .btn-secondary {
    @apply rounded-md border-2 border-solid bg-transparent dark:border-primary_inverse px-3.5 py-2.5 text-lg font-semibold text-primary dark:text-primary_inverse hover:text-primary_inverse focus:text-primary_inverse dark:hover:text-primary dark:focus:text-primary border-primary hover:border-primary_inverse focus:border-primary_inverse dark:focus:border-primary dark:hover:border-primary;
  }
  .link-arrow {
    @apply text-lg font-semibold leading-6 px-2 hover:text-primary dark:hover:text-primary_inverse focus:text-primary dark:focus:text-primary_inverse;
  }
  .menu .active {
    @apply underline underline-offset-4 decoration-2;
  }
  .page-navigation li a {
    @apply hover:text-primary dark:hover:text-primary_inverse focus:text-primary dark:focus:text-primary_inverse;
  }
  .page-navigation li.active a {
    @apply text-primary dark:text-primary_inverse;
  }

  .teaser-muted {
    @apply bg-background_muted dark:bg-background_muted_inverse text-text dark:text-text_inverse;
  }
  .teaser-inverse {
    @apply bg-background_inverse dark:bg-background text-text_inverse dark:text-text;
  }
  .teaser-transparent {
    @apply bg-transparent text-text dark:text-text_inverse;
  }
  .section-muted {
    @apply bg-background_muted dark:bg-background_muted_inverse text-text dark:text-text_inverse;
  }
  .section-inverse {
    @apply bg-background_inverse dark:bg-background text-text_inverse dark:text-text;
  }
  .section-inverse .teaser-inverse {
    @apply bg-background dark:bg-background_inverse text-text dark:text-text_inverse;
  }
  .section-transparent {
    @apply bg-transparent text-text dark:text-text_inverse;
  }
  .section-inverse .teaser-transparent {
    @apply bg-transparent text-text_inverse dark:text-text;
  }
  .section-inverse .teaser-muted {
    @apply bg-background_muted_inverse dark:bg-background_muted text-text_inverse dark:text-text;
  }
  .section-inverse .teaser-inverse .btn-secondary {
    @apply text-primary dark:text-primary border-primary dark:border-primary;
  }
  .section-muted .teaser-muted {
    @apply bg-background_muted_inverse dark:bg-background_muted text-text_inverse dark:text-text;
  }
  .line-muted {
    @apply text-muted dark:text-muted_inverse;
  }
  .teaser-muted .line-muted,
  .section-muted .line-muted {
    @apply text-muted_inverse dark:text-muted;
  }
  .teaser-inverse .line-muted {
    @apply text-text_inverse dark:text-text;
  }
  .section-muted .teaser-muted .line-muted {
    @apply text-muted dark:text-muted_inverse;
  }
  .section-inverse .teaser-muted .line-muted {
    @apply text-text_inverse dark:text-text;
  }
  .section-inverse .teaser-inverse .line-muted {
    @apply text-text dark:text-text_inverse;
  }

  .line-primary {
    @apply text-primary dark:text-primary_inverse hover:text-primary_inverse focus:text-primary_inverse dark:hover:text-primary dark:focus:text-primary;
  }
  .rating .star {
    color: rgb(var(--rating));
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  }
  .text-shadow-md {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
  }
  .dark .text-shadow-sm {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }
  .dark .text-shadow-md {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }
  .dark .text-shadow-lg {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
