@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@source "../../site/plugins/nxttool-theme-tailwind/templates/**/*.php";
@source "../../site/plugins/nxttool-theme-tailwind/snippets/**/*.php";
@source "../../site/plugins/nxttool-theme-tailwind/controllers/**/*.php";
@source "../../site/templates/**/*.php";
@source "../../site/snippets/**/*.php";
@source "../../site/controllers/**/*.php";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(219 53 44);
  --color-primary_inverse: rgb(255 109 51);
  --color-text: rgb(0 0 0);
  --color-text_inverse: rgb(255 255 255);
  --color-muted: rgb(63 63 63);
  --color-muted_inverse: rgb(220 214 203);
  --color-muted_secondary: rgb(74 79 70);
  --color-muted_secondary_inverse: rgb(210 224 200);
  --color-borders: rgb(158 151 138);
  --color-borders_inverse: rgb(79 76 70);
  --color-footer: rgb(51 51 51);
  --color-background: rgb(249 249 249);
  --color-background_inverse: rgb(21 21 21);
  --color-background_muted: rgb(220 214 203);
  --color-background_muted_inverse: rgb(63 63 63);
  --color-background_muted_secondary: rgb(210 224 200);
  --color-background_muted_secondary_inverse: rgb(74 79 70);
  --color-success: rgb(40 167 69);
  --color-info: rgb(23 162 184);
  --color-warning: rgb(255 193 7);
  --color-error: rgb(220 53 69);
  --color-rating: rgb(251 193 18);
}
@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/fonts/inter/v13/inter-all.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  @apply leading-relaxed font-normal not-italic text-base text-black dark:text-white bg-background dark:bg-background_inverse;
}

.container {
  @apply mx-auto px-10 max-w-7xl;
}

h1 {
  @apply text-4xl mb-4 leading-tight font-bold xl:text-5xl tracking-tight scroll-mt-6;
}
h2 {
  @apply text-3xl xl:text-4xl mb-4 mt-8 leading-tight font-bold scroll-mt-6;
}
h3 {
  @apply text-2xl xl:text-3xl mb-3 mt-6 leading-tight font-bold scroll-mt-6;
}
h4 {
  @apply text-xl leading-tight font-bold scroll-mt-6;
}

.layout-block {
  @apply mb-8;
}

.layout-block h2:not(.teaser h2),
.layout-block h3:not(.teaser h3),
.layout-block h4 {
  @apply mt-0;
}

.content > *:first-child {
  @apply mt-0;
}

figcaption {
  @apply text-muted pt-3;
}

figcaption > footer {
  @apply text-muted dark:text-muted_inverse italic inline;
}
p:not(.formblock p, .search-teaser p, footer p) {
  @apply mb-8;
}

img:not(.banner-image, .footer-image) {
  @apply max-w-full h-auto rounded-md;
}

a:not(
    .btn-primary,
    .btn-secondary,
    .btn,
    .btn-outline,
    .link-arrow,
    .img-link,
    .icon-link
  ),
.menu button {
  @apply hover:text-primary dark:hover:text-primary_inverse focus:text-primary dark:focus:text-primary_inverse;
}
a:not(
    header a,
    footer a,
    .btn-primary,
    .btn-secondary,
    .btn,
    .link-arrow,
    .link-list-teaser a,
    .search-teaser a,
    .pagination a,
    .img-link,
    .page-navigation a.active,
    a.no-underline
  ) {
  @apply underline underline-offset-4 decoration-2;
}
ul:not(header ul, footer ul, ul.page-navigation) {
  @apply list-none;
}
ul
  li:not(
    header li,
    footer li,
    .gallery li,
    .pagination li,
    .formblock li,
    .page-navigation li,
    .contact-details li
  ) {
  @apply pl-8 relative before:content-["—"] before:absolute before:left-0 before:top-0;
}
ol {
  @apply list-decimal pl-0 ml-4;
}
ol li {
  @apply pl-2;
}

@utility text-shadow-sm {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  @variant dark {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }
}

@utility text-shadow-md {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  @variant dark {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }
}

@utility text-shadow-lg {
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
  @variant dark {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  }
}

@utility text-shadow-none {
  text-shadow: none;
}

@utility btn {
  @apply rounded-md border-2 text-text_inverse border border-solid bg-primary border-primary px-12 py-3.5 text-xs uppercase tracking-wide hover:opacity-65 focus:opacity-65 hover:text-text_inverse focus:text-text_inverse;
}

@utility btn-inverse {
  @apply rounded-md border-2 text-text_inverse border border-solid bg-primary_inverse border-primary_inverse px-12 py-3.5 text-xs uppercase tracking-wide hover:opacity-65 focus:opacity-65;
}

@utility btn-outline {
  @apply rounded-md border-2 text-text dark:text-text_inverse border border-solid bg-transparent border-text
      dark:border-text_inverse px-12 py-3.5 text-xs uppercase tracking-wide hover:opacity-65 focus:opacity-65;
}

@utility btn-outline-inverse {
  @apply rounded-md border-2 text-text_inverse dark:text-text border-solid bg-transparent border-text_inverse
    dark:border-text px-12 py-3.5 text-xs uppercase tracking-wide hover:opacity-65 focus:opacity-65;
}

@layer components {
  /* Buttons + Links */
  .btn-primary {
    @apply btn;
  }
  .btn-secondary {
    @apply btn-outline;
  }
  .link-arrow {
    @apply leading-6 px-2 underline underline-offset-4 decoration-1 font-semibold hover:text-primary dark:hover:text-primary_inverse focus:text-primary dark:focus:text-primary_inverse;
  }
  /* Sections */
  .section-muted {
    @apply bg-background_muted dark:bg-background_muted_inverse text-text dark:text-text_inverse;
  }
  .section-muted-secondary {
    @apply bg-background_muted_secondary dark:bg-background_muted_secondary_inverse text-text dark:text-text_inverse;
  }
  .section-inverse {
    @apply bg-background_inverse dark:bg-background text-text_inverse dark:text-text;
  }
  /* Buttons per Background */
  .section-inverse .btn-primary {
    @apply btn-inverse;
  }
  .section-inverse .btn-secondary {
    @apply btn-outline-inverse;
  }
  /* Teaser */
  .teaser-default,
  .section-inverse .teaser-inverse {
    @apply bg-background dark:bg-background_inverse text-text dark:text-text_inverse;
  }
  .teaser-inverse,
  .section-transparent .teaser-default {
    @apply bg-background_inverse dark:bg-background text-text_inverse dark:text-text;
  }
  .teaser-muted,
  .section-transparent .teaser-muted {
    @apply bg-background_muted dark:bg-background_muted_inverse text-text dark:text-text_inverse;
  }
  .teaser-muted-secondary,
  .section-transparent .teaser-muted-secondary {
    @apply bg-background_muted_secondary dark:bg-background_muted_secondary_inverse text-text dark:text-text_inverse;
  }
  .section-inverse .teaser-muted {
    @apply bg-background_muted_inverse dark:bg-background_muted text-text_inverse dark:text-text;
  }
  /* Muted/Primary  Texts */
  .line-primary {
    @apply text-primary dark:text-primary_inverse;
  }
  .line-muted-inverse,
  .teaser-inverse .line-muted,
  .section-inverse .line-muted {
    @apply text-muted_inverse dark:text-muted;
  }
  .line-muted,
  .section-inverse .teaser-inverse .line-muted {
    @apply text-muted dark:text-muted_inverse;
  }
  /* bg special */
  .bg-bullet-default {
    @apply bg-muted dark:bg-muted_inverse;
  }
  .section-inverse .bg-bullet-default {
    @apply bg-text_inverse dark:bg-text;
  }
  /* Headlines per Background */
  .headline-inverse {
    @apply text-text dark:text-text_inverse;
  }
  /* Buttons / Texts per Teaser and Sections */
  .teaser-inverse .btn-secondary {
    @apply btn-outline-inverse;
  }
  .teaser-inverse .btn-primary,
  .teaser-inverse .btn {
    @apply btn-inverse;
  }
  /* Menu */
  .menu .active,
  .footer-menu .active {
    @apply underline underline-offset-4 decoration-2 font-semibold;
  }
  /* Pagination */
  .page-navigation li.active a {
    @apply font-semibold;
  }
  .rating .star {
    @apply text-rating;
  }
}
